{{define "navbar"}}
    <!-- navbar -->
    <nav class="navbar">
        <div class="container u-full-width">
            <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link" href="/">Documentation</a>
            </li>
            </ul>
        </div>
    </nav>
{{end}}
