body {
    font-family: "Varela Round", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Common */
.navbar-brand, h1, h2, h3 {
    font-weight: 700;
    letter-spacing: 0.02em;
}

h4, h5, h6 {
    font-weight: 500;
}

.navbar {
    margin-bottom: 10px;
    border-radius: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    border: 0px;
}

.navbar a {
    color: #333;
}

pre.prettyprint {
    padding: 0px;
    border: 0px;
    font-size: 1.3em;
}

pre.prettyprint > code {
    background: none;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.no-list {
    padding: 20px 10px;
    font-size: 18px;
    color: #CCC;
}

.list-group,
.btn {
    box-shadow: 0 1px 3px rgba(0,0,0,0.075);
}

/**
 * Directory view
 */
.directory {
    height: 100%;
    border: 1px solid #F5F5F5;
    font-size: 10px;
    text-transform: lowercase;
    text-transform: capitalize;
}


/**
 *  Topic list
 */
.topic-list {
    overflow-y: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,0.075);
}

.topic.collapsed .page-list {
    height: 0px;
    display: none;
}

.topic-text,
.page-text {
    padding: 10px;
    border-bottom: 1px solid #EEE;
    cursor: pointer;
}

.topic-text {
    background-color: #FAFAFA;
}

.page-text {
    padding: 0px;
}

.page.active .page-text,
.page-text:hover {
    border-right: 2px solid #337ab7;
}

.page-text a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #333;
    width: 100%;
}

/* Breadcrumb */
.breadcrumb {
    font-size: 12px;
}

.breadcrumb ul {
    height: 38px;
    padding: 1px 10px;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

.breadcrumb > ul > li {
    display: inline-block;
    margin-top: 8px;
    text-transform: capitalize;
}

.breadcrumb > ul > li+li:before {
    padding: 0 8px;
    color: #AAA;
    content: "/";
}

/* Blob Placeholder */
.blob-placeholder {
    text-align: center;
    width: 100%;
    padding: 30px 20px;
    color: #CCCCCC;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: .1rem;
}
