body {
}

/* Common */
.navbar-brand, h1, h2, h3 {
    font-weight: 700;
    letter-spacing: 0.02em;
}

h4, h5, h6 {
    font-weight: 500;
}

.navbar {
    margin-bottom: 10px;
    border-radius: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    border: 0px;
}

.navbar a {
    color: #333;
}

pre.prettyprint {
    padding: 10px;
    border: 0px;
    font-size: 11px;
}

pre.prettyprint > code {
    background: none;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.no-list {
    padding: 20px 10px;
    font-size: 18px;
    color: #CCC;
}

.list-group,
.btn {
    box-shadow: 0 1px 3px rgba(0,0,0,0.075);
}

/**
 *  Topic list
 */
.topic-list {
    overflow-y: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,0.075);
}

.topic.collapsed .page-list {
    height: 0px;
    display: none;
}

.topic-text,
.page-text {
    padding: 10px;
    border-bottom: 1px solid #EEE;
    cursor: pointer;
}

.topic-text {
    background-color: #FAFAFA;
}

.page-text {
    padding: 0px;
}

.page.active .page-text,
.page-text:hover {
    border-right: 2px solid #337ab7;
}

.page-text a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #333;
    width: 100%;
}

/**
 *  Editor
 */
.CodeMirror {
    border: 1px solid #DDD;
    font-size: 13px;
}

.markdown {
    font-size: 12px;
}

.markdown h1, h2, h3 {
    font-size: 18px;
}

.markdown h4 {
    font-size: 16px;
}

.markdown h5, h6 {
    font-size: 14px;
}
