{{define "docs"}}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{.project.Title}} | Smalldocs</title>

    <!-- fonts -->
    {{template "fonts"}}
    <!-- libs -->
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- app -->
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8">
  </head>

  <body data-id="{{.project.ID.Hex}}" data-name="{{.project.Name}}">
    {{template "navbar" .}}
    <div class="container">
      <div class="row" id="docs">
        <div class="col-sm-3 col-md-2">
        </div>
        <div class="col-sm-9 col-md-10">
        </div>
      </div>
    </div>

    <!-- Libs -->
    <script src="/static/bower_components/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/bower_components/react/react.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/bower_components/flux/dist/Flux.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/bower_components/director/build/director.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- app -->
    <script src="/static/build/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/build/docs/edit.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/build/docs/router.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
{{end}}
